.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 60px;
  padding: 0 30px;
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.links a {
  margin-left: 20px;
  color: white;
  position: relative;
  padding-bottom: 4px;
}

.links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #00e0ff;
  transition: 0.3s;
}

.links a:hover::after {
  width: 100%;
}
