.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;

  height: 70px;
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0,0,0,.15);
  backdrop-filter: blur(15px);
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

/* Hamburger ALWAYS visible */
.hamburger {
  display: block !important;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/* Hide menu initially */
.links {
  display: none !important;
}

/* Show after click */
.links.active {
  display: flex !important;
  flex-direction: column;

  position: absolute;
  top: 70px;
  right: 20px;

  width: 250px;

  padding: 20px;
    background: rgba(255,255,255,.12);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,.2);

  box-shadow:
    0 10px 40px rgba(0,0,0,.25);

 
}

.links.active a {
  color: rgb(17, 18, 16);
  text-decoration: none;
  padding: 12px;
}